name: kite
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_colorpicker: ^1.1.0
  cupertino_icons: ^1.0.8
  flutter_heatmap_calendar: ^1.0.5
  google_fonts: ^6.3.3
  intl: ^0.20.2
  fl_chart: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true